<!-- LOADER -->
<div id="preloader">
  <div id="cupcake" class="box">
    <span class="letter">C</span>
    <span class="letter box">A</span>
    <span class="letter box">R</span>
    <span class="letter box">G</span>
    <span class="letter box">A</span>
    <span class="letter box">N</span>
    <span class="letter box">D</span>
    <div class="cupcakeCircle box">
      <div class="cupcakeInner box">
        <div class="cupcakeCore box"></div>
      </div>
    </div>
  </div>
</div>
<!-- END LOADER -->

<!-- HEADER -->
<header class="header header_style_01">
  <nav class="megamenu navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"
          ><img
            src="../../assets/external/images/logos/logo-seo.png"
            alt="image"
        /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right menu-top">
          <li><a class="active" href="index.html">Inicio</a></li>
          <li><a href="#">Nosotros </a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Promociones</a></li>
          <li><a href="registro.html">RegÍstrate</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- END HEADER -->

<!-- CONTENT PAGE -->
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<!-- END CONTENT PAGE -->

<!-- FOOTER -->
<!-- <app-footer></app-footer> -->
<!-- END FOOTER -->

<ng-template #serverErrorCode>
  <div class="modal-header">
    <button
      type="button"
      class="close float-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-alert text-danger">
    <div class="oops">Oops...</div>
    <div class="mt-4">
      <small>Parece que tenemos un problema. Por favor, inténtelo de nuevo más tarde.</small>
    </div>
  </div>
</ng-template>