<div
  class="register-page all-page-title"
  style="background-image: url(../../assets/external/images/pattern-4.png)"
>
  <div class="container text-center">
    <h1>Registro de datos</h1>
  </div>
  <!--Page -->
  <div class="page-info">
    <div class="container">
      <div class="inner-container">
        <ul class="bread-crumb">
          <li>
            <span>Ingresa tus datos y se parte de esta gran familia</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--End Page-->
</div>
<!-- end section -->

<svg
  id="clouds"
  class="hidden-xs"
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  width="100%"
  height="100"
  viewBox="0 0 85 100"
  preserveAspectRatio="none"
>
  <path
    d="M-5 100 Q 0 20 5 100 Z
      M0 100 Q 5 0 10 100
      M5 100 Q 10 30 15 100
      M10 100 Q 15 10 20 100
      M15 100 Q 20 30 25 100
      M20 100 Q 25 -10 30 100
      M25 100 Q 30 10 35 100
      M30 100 Q 35 30 40 100
      M35 100 Q 40 10 45 100
      M40 100 Q 45 50 50 100
      M45 100 Q 50 20 55 100
      M50 100 Q 55 40 60 100
      M55 100 Q 60 60 65 100
      M60 100 Q 65 50 70 100
      M65 100 Q 70 20 75 100
      M70 100 Q 75 45 80 100
      M75 100 Q 80 30 85 100
      M80 100 Q 85 20 90 100
      M85 100 Q 90 50 95 100
      M90 100 Q 95 25 100 100
      M95 100 Q 100 15 105 100 Z"
  ></path>
</svg>

<div style="padding: 0px" id="services" class="section wb">
  <div class="container">
    <div class="text-center">
      <img
        style="width: 50%; margin-bottom: 20px"
        src="../../assets/external/uploads/registro.png"
        alt=""
        class="mx-auto d-block"
      />
    </div>

    <div class="text-danger" *ngIf="errorMsg.message">
      {{ errorMsg.message }}
    </div>

    <form
      role="form"
      id="dni-form"
      autocomplete="off"
      [formGroup]="dniForm"
      (ngSubmit)="onSubmitDni()"
    >
      <div class="form-body">
        <div class="row">
          <div class="form-group col-lg-6">
            <div class="input-group" [ngClass]="dniStyle">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
              </div>
              <input
                formControlName="dni"
                type="text"
                class="form-control"
                placeholder="DNI"
                maxlength="8"
              />
            </div>
            <span class="help-block" id="error"></span>
          </div>
          <div class="form-group col-lg-6">
            <button
              style="float: right"
              type="submit"
              class="btn btn-light btn-radius btn-brd ban-btn btn-search"
            >
              BUSCAR
            </button>
          </div>
        </div>
      </div>
    </form>
    <hr />

    <!-- form start -->
    <form
      role="form"
      id="register-form"
      autocomplete="off"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-body">
        <div class="row">
          <div class="form-group col-lg-6">
            <div class="input-group" [ngClass]="firstnameStyle">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </div>
              <input
                formControlName="firstname"
                required="required"
                type="text"
                class="form-control"
                placeholder="Nombres"
              />
            </div>
          </div>

          <div class="form-group col-lg-6">
            <div class="input-group" [ngClass]="lastnameStyle">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </div>
              <input
                formControlName="lastname"
                required="required"
                type="text"
                class="form-control"
                placeholder="Apellidos"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group" [ngClass]="emailStyle">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input
              formControlName="email"
              required="required"
              type="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <span class="help-block" id="error"></span>
        </div>

        <div class="form-group">
          <div class="input-group" [ngClass]="mobileStyle">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input
              formControlName="mobile"
              required="required"
              type="text"
              class="form-control"
              placeholder="Mobile"
            />
          </div>
          <span class="help-block" id="error"></span>
        </div>
        <div class="form-group">
          <div class="input-group" [ngClass]="addressStyle">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input
              formControlName="address"
              required="required"
              type="text"
              class="form-control"
              placeholder="Dirección"
            />
          </div>
          <span class="help-block" id="error"></span>
        </div>
      </div>

      <div class="form-footer">
        <button
          style="float: right"
          type="submit"
          class="btn btn-light btn-radius btn-brd ban-btn"
        >
          Registrarme
        </button>
      </div>
    </form>

    <hr class="invis" />
  </div>
  <!-- end container -->
</div>
<!-- end section -->

<ng-template #serverErrorCode>
  <div class="modal-header">
    <button
      type="button"
      class="close float-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-alert text-danger text-center">
    <div class="oops">Oops...</div>
    <div class="mt-4">
      <small
        >Parece que tenemos un problema. Por favor, inténtelo de nuevo más
        tarde.</small
      >
    </div>
  </div>
</ng-template>
